<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Request Donation</title>
</head>
<body>

<h1>Request Blood / Organ 🏥</h1>

<form action="/patient/request" method="post">
    <label>Name:</label><br>
    <input type="text" name="name"><br><br>

    <label>Required Blood Type:</label><br>
    <input type="text" name="requiredBloodType"><br><br>

    <label>Required Organ:</label><br>
    <input type="text" name="requiredOrgan"><br><br>

    <label>Urgency Level:</label><br>
    <select name="urgencyLevel">
        <option>CRITICAL</option>
        <option>HIGH</option>
        <option>NORMAL</option>
    </select><br><br>

    <button type="submit">Request</button>
</form>

<br>
<a href="/patient/dashboard">Back</a>

</body>
</html>