<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Request</title>
</head>
<body>

<h1>Request Blood / Organ 🏥</h1>

<form action="/patient/request" method="post">

    Name: <input type="text" name="name"><br><br>

    Blood Type: <input type="text" name="requiredBloodType"><br><br>

    Organ: <input type="text" name="requiredOrgan"><br><br>

    Urgency:
    <select name="urgencyLevel">
        <option>CRITICAL</option>
        <option>HIGH</option>
        <option>NORMAL</option>
    </select><br><br>

    <button type="submit">Submit</button>

</form>

<br>
<a href="/patient/dashboard">Back</a>

</body>
</html>