<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Track Request</title>
</head>
<body>

<h1>Track Request 📍</h1>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Blood</th>
        <th>Organ</th>
        <th>Status</th>
    </tr>

    <tr th:each="p : ${requests}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.requiredBloodType}"></td>
        <td th:text="${p.requiredOrgan}"></td>
        <td th:text="${p.status}"></td>
    </tr>
</table>

<br>
<a href="/patient/dashboard">Back</a>

</body>
</html>