<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Donor Dashboard</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 40px;
        }
        h1 {
            color: darkred;
        }
        a {
            display: block;
            margin: 10px;
            font-size: 18px;
            text-decoration: none;
            color: green;
        }
        a:hover {
            color: red;
        }
    </style>
</head>
<body>

<h1>Donor Dashboard 🩸</h1>

<h3>Welcome Donor!</h3>

<a href="/donor/donate">➤ Donate Blood / Organ</a>
<a href="/donor/status">➤ View Donation Status</a>
<a href="/">🏠 Home</a>

</body>
</html>