<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Donation Status</title>
</head>
<body>

<h1>Donation Status 📊</h1>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Blood Type</th>
        <th>Organ</th>
        <th>Status</th>
    </tr>

    <tr th:each="d : ${donations}">
        <td th:text="${d.name}"></td>
        <td th:text="${d.bloodType}"></td>
        <td th:text="${d.organType}"></td>
        <td th:text="${d.status}"></td>
    </tr>
</table>

<br>
<a href="/donor/dashboard">Back</a>

</body>
</html>