<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Donation Management System</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: green;
        }
        a {
            display: block;
            margin: 10px;
            font-size: 18px;
        }
    </style>
</head>
<body>

<h1>Donation Management System</h1>

<h2>Welcome Nandani 👋</h2>

<a href="/donor/dashboard">Donor Dashboard</a>
<a href="/patient/dashboard">Patient Dashboard</a>

</body>
</html>